:root {
  /*font-size*/
  --default_font_size: 16px;
  --font_sz_10: 0.625rem;
  --font_sz_12: 0.75rem;
  --font_sz_14: 0.875rem;
  --font_sz_16: 1rem;
  --font_sz_18: 1.125rem;
  --font_sz_20: 1.25rem;
  --font_sz_24: 1.5rem;
  --font_sz_28: 1.75rem;
  --font_sz_30: 1.875rem;
  --font_sz_32: 2rem;
  /*    colors */
  --default_background: #dde1e7;
  --white: #ffffff;
  --black: #000000;
  --grey: #6c757d;
  --pink: rgba(245, 108, 109, 1); /*#f56c6d*/
  /*    other*/
  --font_family_ibm: "IBM Plex Mono", monospace;
  --min_width: 300px;
  --default_radius: 10px;
  --default_padding: 15px;
  --default_transition: 0.25s;
  --default_box_shadow: -3px -3px 7px var(--white),
    3px 3px 5px rgba(18, 18, 19, 0.288);
  --default_box_shadow_inset: inset -3px -3px 7px var(--white),
    inset 3px 3px 5px rgba(18, 18, 19, 0.288);
}

.dark-theme {
  --default_background: #2c2d30;
}
@media screen and (max-width: 414px) {
  :root {
    --min_width: 260px;
  }
}
