html {
  font-size: var(--default_font_size);
  height: 100%;
  font-family: var(--font_family_ibm);
  color: var(--black);
}

body,
#app,
.wrapper,
.container {
  //height: inherit;
  min-height: 100vh;
}

.wrapper {
  background-color: var(--default_background);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
}

.default-block,
.default-block_inset {
  background: var(--default_background);
  border-radius: var(--default_radius);
  padding: var(--default_padding);
}

.default-block {
  box-shadow: var(--default_box_shadow);
}

.default-block_inset {
  box-shadow: var(--default_box_shadow_inset);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.w-100 {
  width: 100%;
}

.line,
.line-horizontal {
  display: block;
  border-radius: var(--default_radius);
  border: 0;
}

.line {
  width: 100%;
  height: 2px;
  margin: var(--default_padding) 0;
  background: linear-gradient(
    to top,
    rgba(#515154, 0.2) 0%,
    rgba(29, 29, 31, 0.5) 100%
  );
}

.line-horizontal {
  width: 2px;
  height: 100%;
  margin: 0 var(--default_padding);
  background: linear-gradient(
    to right,
    rgba(#515154, 0.2) 0%,
    rgba(29, 29, 31, 0.5) 100%
  );
}

.title {
  font-size: var(--font_sz_24);
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 var(--default_padding) 0;
  color: var(--black);
}
